footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}

footer p {
    text-align: center;
    margin-top: 20px;
}
